
.card{
  padding: 20px;
  width: 20%;
  background-color: aqua;
  border: 1px solid;
  &_title{
    font-size: 20px;
  }
  &_image{
    display: block;
  }
  &_button{
    width: 100%;
    padding:8px;
    font-size: 12px;
  }
}